[submodule "chapters/MU/External/FYPLC"]
	path = chapters/MU/External/FYPLC
	url = https://github.com/Contemporary-Physicslab/FYPLC.git
[submodule "chapters/Labsafety/Labsafety"]
	path = chapters/Labsafety/Labsafety
	url = https://github.com/Contemporary-Physicslab/Labsafety.git
