/* Custom CSS for TUD theme */

/* https://www.tudelft.nl/en/tu-delft-corporate-design/components/colour*/
h1 {
    color: rgb(0, 166, 214) !important;
}

h2 {
    color: rgb(0, 118, 194) !important;
}

h3 {
    color: rgb(12, 35, 64) !important;
}

.admonition.warning {
    background-color: rgb(237, 104, 66); /* Light red background */
    border-left: 4px solid rgb(165,0,52); /* Dark red border */
    color: black !important; /* Dark red text */
}

.admonition.warning .admonition-title {
    border-color:rgb(165,0,52) !important;
    background-color: rgb(68, 20, 213);
    color: black; !important;
}

.admonition.note {
    background-color: rgb(0, 166, 214); /* Light blue background */
    border-left: 4px solid rgb(0, 166, 214); /* Dark blue border */
    color: black !important; /* Dark blue text */
}

.admonition.note .admonition-title {
    background-color: rgb(0, 166, 214);
    color: rgb(12, 35, 64) !important;
}